* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: green;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contents input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contents button {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.contents button:hover {
    background-color: #ddd;
}

.list {
    margin-top: 20px;
}

.list h2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.list li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
